En este notebook vamos a contar la frecuencia de los caracteristicas de los comercios presentes en el dataset, ubicados en la columna "misc"

In [1]:
# Importamos Pandas para el manejo de dataframes
import pandas as pd

In [10]:
# Generamos un dataframe con la columna "misc"
misc = pd.read_csv("miscantesdeunique.csv", header= None, names = ["misc"])

In [11]:
# Visualizamos el dataframe
misc

                                                     misc
0       'Service options' 'Takeout' 'Dine-in' 'Deliver...
1       'Service options' 'Outdoor seating' 'Curbside ...
2       'Health & safety' 'Appointment required' 'Acce...
3       'Service options' 'Takeout' 'Dine-in' 'Deliver...
4       'Health & safety' 'Mask required' 'Staff wear ...
...                                                   ...
287695  'Service options' 'Takeout' 'Dine-in' 'Deliver...
287696  'Service options' 'Curbside pickup' 'No-contac...
287697  'Service options' 'Takeout' 'Dine-in' 'Deliver...
287698  'Service options' 'Takeout' 'Dine-in' 'Deliver...
287699  'Service options' 'Takeout' 'Dine-in' 'Deliver...

[287700 rows x 1 columns]

In [13]:
# Generamos listado con la frecuencia de cada característica, en orden descendente
cuenta = misc['misc'].str.split("'", expand=True).stack().value_counts()

In [17]:
# Visualizamos el resultado
cuenta

                                    3314642
                                     575384
Accessibility                        199332
Wheelchair accessible entrance       191958
Service options                      167830
                                     ...
On-site services                          2
All-inclusive                             2
Passport photos                           1
-hour public transport available          1
Good discounts                            1
Length: 177, dtype: int64

In [18]:
# Exportamos a un csv la el listado
cuenta.to_csv("cuenta.csv")